<div class="container">

  <!-- REGIONS ROW -->
  <div class="row">
    <div class="col">
      <div class="container scrollable">
        <div class="row">
          <div class="col-2 d-none d-lg-block"></div>
          <div class="col align-self-center"><button type="button" class="btn btn-danger">REGIONS</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">EUROPE</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">SOUTH AMERICA</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">NORTH AMERICA</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">KOREA</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">TEST</button></div>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF REGIONS ROW -->

  <div class="row">

    <!-- COMPETITIONS -->
    <div class="col-sm-2 mt-3 align-self-center">
      <ul class="nav nav-list">
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/cup.png" alt="LIGA SANTANDER"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/iosf.png" alt="BUNDESLIGA"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/league.png" alt="PREMIER LEAGUE"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/summit.png" alt="MSL"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/supercup.png" alt="LIGUE 1"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LaLiga_Santander.svg/1200px-LaLiga_Santander.svg.png" alt="LIGA SANTANDER"></li>
      </ul>
    </div>
    <!-- END OF COMPETITIONS -->

    <!-- BET BOXES -->
    <div class="col-sm-10 mt-3">
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
      <p>test</p>
    </div>
    <!-- END OF BET BOXES -->
  </div>
</div>
