<div class="container">

  <!-- REGIONS ROW -->
  <div class="row">
    <div class="col">
      <div class="container scrollable">
        <div class="row">
          <div class="col-2 d-none d-lg-block"></div>
          <div class="col align-self-center"><button type="button" class="btn btn-danger">REGIONS</button></div>
          <!-- <div class="col"><button type="button" data-toggle="pill" href="#EUROPE" class="btn btn-info h-100 w-100">EUROPE</button></div>
          <div class="col"><button type="button" data-toggle="pill" href="#SAMERICA" class="btn btn-info h-100 w-100">SOUTH AMERICA</button></div>
          <div class="col"><button type="button" data-toggle="pill" href="#NAMERICA" class="btn btn-info h-100 w-100">NORTH AMERICA</button></div>
          <div class="col"><button type="button" data-toggle="pill" href="#KOREA" class="btn btn-info h-100 w-100">KOREA</button></div>
          <div class="col"><button type="button" data-toggle="pill" href="#TEST" class="btn btn-info h-100 w-100">TEST</button></div> -->
          <ul class="nav nav-pills">
            <li class="col active"><button type="button" data-toggle="pill" href="#EUROPE" class="btn btn-info h-100 w-100">EUROPE</button></li>
            <li class="col"><button type="button" data-toggle="pill" href="#SAMERICA" class="btn btn-info h-100 w-100">SOUTH AMERICA</button></li>
            <li class="col"><button type="button" data-toggle="pill" href="#NAMERICA" class="btn btn-info h-100 w-100">NORTH AMERICA</button></li>
            <li class="col"><button type="button" data-toggle="pill" href="#KOREA" class="btn btn-info h-100 w-100">KOREA</button></li>
            <li class="col"><button type="button" data-toggle="pill" href="#TEST" class="btn btn-info h-100 w-100">TEST</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF REGIONS ROW -->

  <div class="row">

    <!-- COMPETITIONS -->
    <div class="col-sm-2 mt-3 align-self-center tab-content">
      <ul id="EUROPE" class="tab-pane fade show active">
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/cup.png" alt="LIGA SANTANDER"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/iosf.png" alt="BUNDESLIGA"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/league.png" alt="PREMIER LEAGUE"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/summit.png" alt="MSL"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/supercup.png" alt="LIGUE 1"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LaLiga_Santander.svg/1200px-LaLiga_Santander.svg.png" alt="LIGA SANTANDER"></li>
      </ul>

      <ul id="SAMERICA" class="tab-pane fade">
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="https://i0.wp.com/kalot.com.mx/site/wp-content/uploads/2013/12/bundesliga-logo-2010.png?fit=634%2C545&ssl=1" alt="LIGA SANTANDER"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="https://logodownload.org/wp-content/uploads/2019/09/ligue-1-logo.png" alt="BUNDESLIGA"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/league.png" alt="PREMIER LEAGUE"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/summit.png" alt="MSL"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/supercup.png" alt="LIGUE 1"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LaLiga_Santander.svg/1200px-LaLiga_Santander.svg.png" alt="LIGA SANTANDER"></li>
      </ul>

      <ul id="NAMERICA" class="tab-pane fade">
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/cup.png" alt="LIGA SANTANDER"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/iosf.png" alt="BUNDESLIGA"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/league.png" alt="PREMIER LEAGUE"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/summit.png" alt="MSL"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/supercup.png" alt="LIGUE 1"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LaLiga_Santander.svg/1200px-LaLiga_Santander.svg.png" alt="LIGA SANTANDER"></li>
      </ul>

      <ul id="KOREA" class="tab-pane fade">
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/cup.png" alt="LIGA SANTANDER"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/iosf.png" alt="BUNDESLIGA"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/league.png" alt="PREMIER LEAGUE"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/summit.png" alt="MSL"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/supercup.png" alt="LIGUE 1"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LaLiga_Santander.svg/1200px-LaLiga_Santander.svg.png" alt="LIGA SANTANDER"></li>
      </ul>

      <ul id="TEST" class="tab-pane fade">
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/cup.png" alt="LIGA SANTANDER"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/iosf.png" alt="BUNDESLIGA"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/league.png" alt="PREMIER LEAGUE"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/summit.png" alt="MSL"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="../../assets/images/badges/supercup.png" alt="LIGUE 1"></li>
        <li class="list-group-item ioc-list-responsive mb-3"><img class="comp-imgs" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LaLiga_Santander.svg/1200px-LaLiga_Santander.svg.png" alt="LIGA SANTANDER"></li>
      </ul>
    </div>
    <!-- END OF COMPETITIONS -->

    <!-- BET BOXES -->
    <div class="col-sm-10 mt-3">
      <div class="betBox">
        <div class="tournamentBox"><span>TOURNAMENT X - DIV 1 - EUROPE</span></div>
        <div class="tournamentBox"><span>TOURNAMENT LOGO - By DEFAULT IOSOCCER</span></div>
        <hr class="rounded">
      </div>
      <div class="betBox mt-3">
        <div class="tournamentBox"><span>TOURNAMENT X - DIV 2 - EUROPE</span></div>
        <div class="tournamentBox"><span>TOURNAMENT LOGO - By DEFAULT IOSOCCER</span></div>
        <hr class="rounded">
      </div>
    </div>
    <!-- END OF BET BOXES -->
  </div>
</div>
