<div class="container">

  <!-- REGIONS ROW -->
  <div class="row">
    <div class="col">
      <div class="container scrollable">
        <div class="row">
          <div class="col-2 d-none d-lg-block"></div>
          <div class="col align-self-center"><button type="button" class="btn btn-danger">REGIONS</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">EUROPE</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">SOUTH AMERICA</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">NORTH AMERICA</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">KOREA</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">TEST</button></div>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF REGIONS ROW -->

  <!-- TOURNAMENTS/LEAGUES ROW -->
  <!-- TO DO - Competitions should show depending on selected Region -->
  <div class="row d-lg-none"> <!-- TOURNAMENTS Hide on screens wider than lg-->
    <div class="col">
      <div class="container scrollable">
        <div class="row">
          <div class="col-2 d-none d-lg-block"></div>
          <div class="col align-self-center"><button type="button" class="btn btn-danger">COMPETITION</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">LIGA BBVA</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">PREMIER LEAGUE</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">MLS</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">BUNDESLIGA</button></div>
          <div class="col"><button type="button" class="btn btn-info h-100 w-100">TEST</button></div>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF TOURNAMENTS/LEAGUES ROW -->

  <!-- 1/8 -->
  <div class="row"> <!-- TOURNAMENTS and ACTIVE BETS (Tournaments will hide on screens less wide than lg-->
    <div class="col-2 d-none d-lg-block" style="background-color:blue;">TOURNAMENTS</div> <!-- TOURNAMENTS -->
    <div class="col" style="background-color:red;">INFO</div> <!-- INFO -->
  </div>

  <!-- 2/8 -->
  <div class="row"> <!-- TOURNAMENTS and ACTIVE BETS (Tournaments will hide on screens less wide than lg-->
    <div class="col-2 d-none d-lg-block" style="background-color:blue;">TOURNAMENTS</div> <!-- TOURNAMENTS -->
    <div class="col" style="background-color:red;">INFO</div> <!-- INFO -->
  </div>

  <!-- 3/8 -->
  <div class="row"> <!-- TOURNAMENTS and ACTIVE BETS (Tournaments will hide on screens less wide than lg-->
    <div class="col-2 d-none d-lg-block" style="background-color:blue;">TOURNAMENTS</div> <!-- TOURNAMENTS -->
    <div class="col" style="background-color:red;">INFO</div> <!-- INFO -->
  </div>

  <!-- 4/8 -->
  <div class="row"> <!-- TOURNAMENTS and ACTIVE BETS (Tournaments will hide on screens less wide than lg-->
    <div class="col-2 d-none d-lg-block" style="background-color:blue;">TOURNAMENTS</div> <!-- TOURNAMENTS -->
    <div class="col" style="background-color:red;">INFO</div> <!-- INFO -->
  </div>

  <!-- 5/8 -->
  <div class="row"> <!-- TOURNAMENTS and ACTIVE BETS (Tournaments will hide on screens less wide than lg-->
    <div class="col-2 d-none d-lg-block" style="background-color:blue;">TOURNAMENTS</div> <!-- TOURNAMENTS -->
    <div class="col" style="background-color:red;">INFO</div> <!-- INFO -->
  </div>

  <!-- 6/8 -->
  <div class="row"> <!-- TOURNAMENTS and ACTIVE BETS (Tournaments will hide on screens less wide than lg-->
    <div class="col-2 d-none d-lg-block" style="background-color:blue;">TOURNAMENTS</div> <!-- TOURNAMENTS -->
    <div class="col" style="background-color:red;">INFO</div> <!-- INFO -->
  </div>

  <!-- 7/8 -->
  <div class="row"> <!-- TOURNAMENTS and ACTIVE BETS (Tournaments will hide on screens less wide than lg-->
    <div class="col-2 d-none d-lg-block" style="background-color:blue;">TOURNAMENTS</div> <!-- TOURNAMENTS -->
    <div class="col" style="background-color:red;">INFO</div> <!-- INFO -->
  </div>

  <!-- 8/8 -->
  <div class="row"> <!-- TOURNAMENTS and ACTIVE BETS (Tournaments will hide on screens less wide than lg-->
    <div class="col-2 d-none d-lg-block" style="background-color:blue;">TOURNAMENTS</div> <!-- TOURNAMENTS -->
    <div class="col" style="background-color:red;">INFO</div> <!-- INFO -->
  </div>
</div>
