<!-- NAVBAR -->
<header class="header-margin">

  <!-- Social LINKS with @Fontawesome -->
  <div class="nav navbar navbar-expand-lg bg-dark navbar-dark small justify-content-center">
    <ul class="navbar-nav social-links nav-stacked navbar-right list-group list-group-horizontal flex-md-row">
      <li class="nav-item"><a class="nav-link list-margin" href="https://youtube.com/IOSoccer" target="_blank"><i class="fa fa-youtube-play fa-lg"></i></a></li>
      <li class="nav-item"><a class="nav-link list-margin" href="https://store.steampowered.com/app/673560/IOSoccer/" target="_blank"><i class="fa fa-steam fa-lg"></i></a></li>
      <li class="nav-item"><a class="nav-link list-margin" href="https://twitch.tv/iosoccer" target="_blank"><i class="fa fa-twitch fa-lg"></i></a></li>
      <li class="nav-item"><a class="nav-link list-margin" href="https://www.reddit.com/r/iosoccer" target="_blank"><i class="fa fa-reddit fa-lg"></i></a></li>
      <li class="nav-item"><a class="nav-link list-margin" href="https://facebook.com/IOSoccer" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
      <li class="nav-item"><a class="nav-link list-margin" href="https://twitter.com/IOSoccer" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
    </ul>
  </div>

  <!-- IMAGE -->
  <div class="bg-dark navbar-dark d-none d-lg-block center-block" style="text-align:center">
    <a href="http://iosoccer.com/" target="_blank">
      <img src="../assets/fut-logo-long.png" alt="">
    </a>
  </div>

  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

    <!-- MOBILE IMAGE -->
    <!-- <div class="bg-dark navbar-dark justify-content-center d-lg-none center-block"> -->
      <a href="http://iosoccer.com/" target="_blank" class="d-lg-none d-flex col align-items-center justify-content-center">
        <img src="../assets/fut-logo-long.png" class="rounded mx-auto d-block img-fluid my-auto" alt="">
      </a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LINK</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            DROPDOWN
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">ACTION</a>
            <a class="dropdown-item" href="#">ANOTHER ACTION</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">SOMETHING</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">DISABLED</a>
        </li>
      </ul>
    </div>


  </nav>
</header>
